* {
    box-sizing: content-box;
}

body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
h1 {

}
h2 {
    color: #d97956;
}
h2.h1 {
    color: #fff;
    line-height: 1.2em;
    font-size: 2em;
    margin: 0.67em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

header.q-page-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 0 10%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
}

header.q-page-head nav {
    display: flex;
    flex: 1;
    justify-items: stretch;
    align-items: stretch;
}

footer.q-page-foot {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: transparent url('../img/Rectangle_b.png') no-repeat scroll 100% 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

footer.q-page-foot section {
    flex: 1;
    padding: 0 20px;
}

.q-footer-links {
    padding: 0;
    margin: 1em 0 40px 0;
}

.q-footer-links a {
    color: #fff;
    text-decoration: none;
}

.q-stage {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    background: transparent url('../img/Rectangle.png') no-repeat scroll 100% 100%;
    background-size: cover;
    color: #fff;
    padding: 0 10%;
    line-height: 3em;
}

#q-anchor-home{
    min-height: 290px;
}

.q-stage.q-anchor {
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 0;
    max-height: 200px;

}

#q-anchor-behoerden.q-stage.q-anchor {
    /* using Rectangle_m here, as Rectangle_l has Adobe Stock watermark */
    background: transparent url('../img/h6.jpg') no-repeat scroll 100% 100%;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 60px;
    max-height: 200px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #q-anchor-behoerden.q-stage.q-anchor {
        background: transparent url('../img/h6@2x.jpg') no-repeat scroll 100% 100%;
        background-size: cover;
    }
}

#q-anchor-buerger.q-stage.q-anchor {
    /* using Rectangle_m here, as Rectangle_l has Adobe Stock watermark */
    background: transparent url('../img/h5.jpg') no-repeat scroll 100% 100%;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 60px;
    max-height: 200px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #q-anchor-buerger.q-stage.q-anchor {
        background: transparent url('../img/h5@2x.jpg') no-repeat scroll 100% 100%;
        background-size: cover;
    }
}


.q-info-graph {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    padding: 20px 10%;
    margin: 50px 0;
}

.q-info-graph picture,
.q-info-graph img,
.q-info-graph source {
    width: 100%
}

.q-button {
    color: #d97956;
    background-color: #fff;
    border: 3px solid #d97956;
    display: inline-block;
    font-weight: bold;
    line-height: 2em;
    border-radius: 30px;
    padding: 5px 20px;
    margin: 10px 15px 0 0;
    cursor: pointer;
}

.q-stage .q-text-container {
    flex: 1;
    margin: 0;
    max-width: 380px;
    margin-bottom: 50px;
}

.q-stage .q-img-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    position: relative;
    flex: 2;
}

.q-stage .q-img-container img {
    width: 79%;
}

.q-stage .q-img-container .q-desktop,
.q-stage .q-img-container .q-phone {
    flex: 1;
}

.q-stage .q-img-container .q-phone {
    position: relative;
    z-index: 1;
    background: transparent url('../img/phone_5_black_1.png') no-repeat scroll 100% 100%;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .q-stage .q-img-container .q-phone {
        background: transparent url('../img/phone_5_black_1@2x.png') no-repeat scroll 100% 100%;
        background-size: contain;
    }
}

.q-stage .q-img-container .q-desktop {
    position: relative;
    z-index: 0;
    left: -20%;
    background: transparent url('../img/desktop_1.png') no-repeat scroll 100% 100%;
    background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .q-stage .q-img-container .q-desktop {
        background: transparent url('../img/desktop_1@2x.png') no-repeat scroll 100% 100%;
        background-size: contain;
    }
}

.q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
}

.q-content {
    color: #666;
    margin: 50px auto;
    padding: 0 15%;
    line-height: 1.5em;
}

.q-content p {
    /*font-weight: bold;*/
}

.q-content.q-content-narrow {
    padding: 0 25%;
}

.q-contact {
    padding: 25px 15% 42px;
}

.q-center {
    text-align: center;
}

.q-info-box .q-content article {
    color: #fff;
    font-size: 24px;
    line-height: 1.5em;
    background: transparent url('../img/QUARANO_STOERER_bx.png') no-repeat scroll 0 0;
    background-size: cover;
    padding: 10px 25px;
}

hr {
    border: 1px solid #fff;
    background-color: #fff;
    height: 8px;
    margin: 0;
}
hr.light-grey {
    border: 2px solid #eee;
    background-color: #eee;
    height: 2px;
    margin: 0 0 15px 0;
}


.q-video {
    width: 100%;
}

.q-odd-background {
    background-image: none;
    background-color: #eee;
    color: #666;
}

.q-bullet-point-list {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.q-bullet-point-list .q-bullet-point {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    margin: 20px 0;
}

.q-bullet-point .q-bullet-point-item {
    background-color: #fff;
    margin-right: 25px;
    border: 40px solid #fff;
    border-radius: 50%;
    min-height: 100px;
    min-width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.q-bullet-point .q-bullet-point-desc {
    flex: 1;
    line-height: 1.5em;
}

.q-bullet-point .q-bullet-point-item img {
    border-radius: 50%;
}

.q-bullet-point .q-bullet-point-item .material-icons-outlined{
    font-size: 90px;
}
.q-supporter-icons picture,
.q-sponsor-icons picture {
    /* margin: 0 30px; */
}


.q-supporter-icons picture:first-child,
.q-sponsor-icons picture:first-child {
    margin-left: 0;
}

/* little changes FD  */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../fonts/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v9-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/poppins-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v9-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.q-logo {
    max-width: 215px;
    margin: 12px 0;
}
.q-logo img {
    width: 100%;
}

.q-button {
    font-size: 18px;
    border-width: 2px;
    letter-spacing: 0.4px;
}
.q-content {
    max-width: 992px;
}
.q-sponsor-icons,
.q-supporter-icons,
.q-page-foot, #q-anchor-contact {
    max-width: 100%;
}
.q-bullet-point-list .q-bullet-point {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.q-content,
.q-bullet-point .q-bullet-point-desc {
    line-height: 30px;
    font-size: 18px;
}
h2 {
    line-height: 45px;
}
.q-stage.q-anchor {
    min-height: 260px;
    max-height: 760px;
}
.q-stage .q-img-container img {
    max-width: 360px;
}
footer .sponsor-label img {
    width: 100%;
}
footer.q-page-foot {
    margin: 0 auto;
}
footer.q-page-foot section {
    padding-left: 0;
}
@media all and (max-width: 992px) {
    .q-content {
        padding-left: 10%;
        padding-right: 10%;
    }
    .q-stage {
        background-position: 80%;
    }
    .q-bullet-point .q-bullet-point-item {
        margin-right: 20px;
        border: 20px solid #fff;
    }
    .q-content.q-content-narrow {
        padding-left: 0;
        padding-right: 0;
    }
    .q-info-box .q-content.q-content-narrow {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media all and (max-width: 768px) {
    .q-navigation li:first-child {
        display: none;
    }
    .q-navigation li {
        margin-left: 5px;
    }
    h2 {
        line-height: 34px;
    }
    .q-stage {
        background-position: 73%;
    }
    .q-stage .q-img-container {
        display: none;
    }
    .q-content, .q-bullet-point .q-bullet-point-desc {
        font-size: 16px;
    }
    .q-content {
        padding-left: 10%;
        padding-right: 10%;
    }
    .q-bullet-point .q-bullet-point-item {
        border: 0 solid #fff;
    }
    .q-bullet-point .q-bullet-point-item .material-icons-outlined {
        font-size: 70px;
    }
    .q-content.q-content-narrow {
        padding-left: 0%;
        padding-right: 0%;
    }
    .q-info-box .q-content.q-content-narrow {
        padding-left: 10%;
        padding-right: 10%;
    }
    .q-page-foot > section:nth-child(2) {
        display: none;
    }
}

@media all and (max-width: 560px) {
    header.q-page-head {
        padding: 0 3%;
    }
    .q-stage,
    .q-content {
        padding-left: 3%;
        padding-right: 3%;
    }
    .q-stage .q-text-container {
        max-width: 100%;
    }
    h1 {
        font-size: 1.8em;
    }
}

@media all and (max-width: 480px) {
    .q-stage {
        background-position: 53%;
    }
}


/* anchor-fix */
.q-anchor {
    position: relative;
}
.q-anchor a.anchorfix {
    position: absolute;
    left: 0px;
    top: -87px;
}


/* END little changes FD  */